@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:  #000000;
  background-color:  #ffffff;
 
}

/* Pages */
.page-header {
  color:  #000000;
  background-color: #ffffff;
}
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.logo{width:139px;
margin-right:30px;}

.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
}
.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
    font-size:20px;
  line-height: 26px;
  font-weight: 700;
  color:  #000000;
  text-decoration: none;}

.main-info{
 text-align: center;}

 .main-container {
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.sedona1 {background: no-repeat url("../images/index-background.jpeg");}

/* List */
.advantages-list {
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
align-items: flex-start;

}

/* Item */
.advantages-item {
width: 400px;
}
/* Title */
.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
/*Buttons */

.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.button-all{background-color:#756257 ;
    line-height:36px}

  
.sign-up-background{
  background: no-repeat url("../images/background.jpeg");
  color:#ffffff;
  height:411px;
  padding:0 240px;

}


/* Catalog */


.catalog-filter{ background: no-repeat url("../images/catalog-background.jpeg");}

.hotel-card{
width: 1056px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding: 0px;
align-items: flex-start;
}
.hotel-card-item{
flex-direction: column;
align-items: flex-start;
padding: 20px;
width: 300px;
}

.hotel-card-title{ font-size: 24px;
line-height:31px;
font-weight: 700;
color: #000000;
background-color:#ffffff;
}
.control{font-size: 18px;
line-height:23px;
color:#ffffff;}

.catalog-filter-title{font-size: 20px;
  line-height:25px;
  font-weight: 700;
  color:#ffffff;}

.pagination a{
font-size:20px;
line-height: 26px;
font-weight: 700;
text-align:center;
color: #ffffff;
background-color: #83B3D3;
text-decoration: none;

}

a{text-decoration:none;
}

h2{font-size:30px;
  line-height: 39px;
  font-weight: 700;
}


.inner-header-title{font-size:60px;
    line-height: 68px;
    font-weight: 700;
    color: #ffffff;

  }

 .hotel-card-type{font-size:18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}
 
.hotel-card-price {font-size:18px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
}

.hotel-card-button-more{font-size:16px;
  line-height: 21px;
  background-color:#756257;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;

  }

  .hotel-card-button-chose{font-size:16px;
    line-height: 21px;
    background-color: #83B3D3;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;}
    
    .hotel-card-ranking{font-size:16px;
      line-height: 21px;
      background-color: #f2f2f2;
      font-weight: 400;
      text-transform: uppercase;
      color:#333333;}

      .fa-star{
      line-height: 17px;
       color:#83B3D3;
      }

    .sign-up { 
  
      text-align: center;
    }

      .sign-up-title{ 
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase}

        .button-off {
          font-family: inherit;
          font-size: 18px;
          line-height: 23px;
          font-weight: 700;
          text-align: center;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;}


         /*Footer*/

.page-footer-container {
display: flex;
width: 1200px;
margin: 0 auto;
}
.footer-social-list{width: 107px;
 margin-right:61px;}

  /* Phone */
  .contacts-phone{
    font-size: 40px;
    line-height:40px;
    font-weight: 700;
    color: #000000;
    background-color:#ffffff;
    text-transform: uppercase;
    text-decoration: none;
    width: 720px;
    margin-right:53px;
    
  }

.logo-html
{margin:0 auto;
}

.catalog-filter {display:flex;
width:1200px;
}


.hotel-search{padding:0 240px;}