@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}

*,
*::before,
*::after {box-sizing: border-box;}

#sedona-picture {
  background: no-repeat url("../images/sedona-style.svg")  0% 100%, url("../images/index-background.jpeg")  no-repeat ;
  height: 485px;
}

#numberfav{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 20px;
  height: 20px;
  left: calc(50% - 19px/2 + 13px);
  top: calc(50% - 13px/2 - 9px);
  background: #7DB54F;
  border-radius: 50%;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #FFFFFF;
  
}


#favor{
  position: absolute;
width: 18.05px;
height: 17px;
left: calc(50% - 18.05px/2 - 0.46px);
top: calc(50% - 17px/2 - 0.5px);
}
body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color:  #000000;
  background-color:  #ffffff;
  width:1200px;
 
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Pages */
.page-header {
  color:  #000000;
  background-color: #ffffff;
}
.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}
.navigation-link--current::after {
  content:"";
  position: absolute;
  width:100%;
  height:2px;
  background-color: #756257;
  bottom:0;
  left: 0;
  right: 0;
 
}
.navigation-list {
  display: flex;
  flex-wrap: wrap; 
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 169px;
}

.navigation-list:hover{color:#756257;}

.navigation-link-want{ display: block;
 position: relative; 
background-color: #756257;
color: #ffffff;
width:160px;
height:37px;
text-transform: uppercase;
font-weight: 700;
padding: 9px 15px;
margin:14px 0;
text-align: center;
align-items: center;
border-radius: 4px;
} 
.navigation-link-want:hover{background-color:#615048;}

.navigation-link-want:focus{background-color:#615048;
  outline: 3px solid #83B3D3;
  
}
.navigation-link-want:active{background-color:#615048;
color:#FFFFFF;
opacity: 0.3;}

.navigation-link {
  display: block;
  position:relative;
  padding: 20px 17px;
    font-size:20px;
  line-height: 26px;
  font-weight: 700;
  color:  #000000;
  text-decoration: none;}

  .navigation-link:hover{color:#756257;}

  .navigation-link:active{color:#e5e5e5;}


  .navigation-link:hover .navigation-icon {
    fill: #756257;
  }
  
  .navigation-link:active .navigation-icon {
    fill: #756257;
    opacity: 0.3;
  }

  .navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill:#000000;
  
  
  }
  
  .navigation-link:hover.navigation-icon {
    fill:#756257 ;
  }
  

  .navigation-user .navigation-link {
    min-width: 18px;
    min-height: 18px;
  }
  .logo{
    position: absolute;
    width:139px;
    margin-right:30px;
  }
    .logo-sedona{
      display: block;
    }

  .navigation-user {
    max-width: 300px;
    margin-left: auto;
  }
  .navigation-item-search{
    display: flex;
    min-width: 42px;
    justify-content: center;
    align-items: center;
  }
  .navigation-item-choose{
    display: flex;
    min-width: 42px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
  }
 

.main-info{
 text-align: center;}

 .main-container {
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}

/*Welcome1*/
.sedona-with-back {
 
  z-index:-1;
}

.welcome-title{margin:0;
  margin:51px 371px 82px;}

/*Sedona2 sections*/

.sect-one{
   margin:0;
  padding:0;
  width:720px;
  line-height:36px;
  margin-top:63px;
  margin-left:240px;
  font-weight: 700;
text-transform: uppercase;}

.sect-two{ margin:0;
  padding:0;
  width:720px;
  line-height:36px;
margin:31px 240px 80px 240px; 
}


/* List */
.advantages-list { 
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width:100%;
 
 
}

/* Item */ 
.advantages-item {
	width: 400px;
	min-height:384px;
	background:#83B3D3;
	color: #FFFFFF;
	text-align: center;
  padding:97px 90px 87px;
 
 
}

.advantages-item h3{
font-family: PT Sans;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;


}



.advantages-item span, p{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
 
 
  }

  
  
.advantages-item1{
	align-items: top;
	background: #f0f6fa;
	width: 400px;
	min-height:384px;
	text-align: center;
  padding: 184px 75px 20px;


}
.advantages-item2{
	background: #FFFFFF;
	width: 400px;
  min-height:384px;
	text-align: center;
  padding: 184px 75px 20px;
}

.advantages-item3{
	background: #e6f0f6;
	width: 400px;
	min-height:384px;
	text-align: center;
  padding: 184px 75px 20px;
}

/* Title */
.icon-1{ 
  background: no-repeat url("../images/icons/icon-1.svg");
 background-repeat:no-repeat;

}
.icon-2
{background: no-repeat url("../images/icons/icon-2.svg");
  background-repeat:no-repeat;
 }
.icon-3{
  background: no-repeat url("../images/icons/icon-3.svg");
  background-repeat:no-repeat;
 
  }

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin:0;
  padding:0;
  padding-bottom:30px;
 

}
.advantages-description{
  margin:0;
  padding: 0;
  margin-top:20px;
  width:250px;
  text-align: center;

  }

  .card-grid-toggle{
    display: flex;
    margin: 8px;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    outline: 2px solid #e6e6e6;
    border-radius: 4px;
  }
  
  .card-grid-toggle svg {
    fill: #000000;
  }

  .card-grid-toggle:hover{
    outline:2px solid #83B3D3;
  }
  .card-grid-toggle:focus{
    outline:2px solid #83B3D3;
  }


  .card-grid-toggle-current {
    background-color: #ffffff;
    outline: 2px solid #000000;
   
  }
  
  .card-grid-toggle-current svg {
    fill: #000000;
    

  }

/*Buttons */
.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding:10px 0;
  margin:0;
  border-radius: 4px;
  width:160px;
}

.button:hover{
  background-color: #68a2ca;
}
.button:focus{
  background-color: #68a2ca;
outline: 3px solid #ffffff;
}

.button:active{
  background-color: #68a2ca;
  opacity: 0.3;
}
.button-all{
  background-color:#756257 ;
    line-height:36px;
   margin:0;
   padding:0;
    padding:15px 0;
    min-width:575px;
    height:60px;
    border-radius: 10px;

 }
 .button-all:hover{
   background-color: #615048;
  }
 


.button-all:focus{
  background-color: #615048;
outline:3px solid #83B3D3 ;
}

.button-all:active{
  background-color: #615048;
opacity: 0.3;
}

.button.button-sign-up{size: 20px;
  width:200px;
height: 60px;
border-radius: 0 10px 10px 0;
}

.button.button-sign-up:hover{
  background-color: #68a2ca;
}

.button.button-sign-up:focus{
  background-color: #68a2ca;
outline: 3px solid #756257;
}

.button.button-sign-up:active{
  background-color: #68a2ca;
 opacity: 0.3;
}

.sign-up-background{
  background: no-repeat url("../images/background.jpeg");
  color:#ffffff;
  height:411px;

}
.sign-up-div{
  width: 800px;
  text-align: center;
}



.button-off {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  width:160px;
  border: none;
  background-color: transparent;
  margin-top: 20px;
}

.button-off:hover {
  opacity: 0.6;
}
.button-off:focus {
outline: 3px solid #83B3D3;
}
.button-off:active {
  opacity: 0.6;
}

.button-ligth {
  box-sizing: border-box;
position: absolute;
}

/* Catalog */


.page-container{ 
  background: no-repeat url("../images/catalog-background.jpeg");
}



.hotel-card{
width: 1056px;
display: grid;
grid-template-columns: 340px 340px 340px;
column-gap: 18px;
row-gap:10px;
padding: 0;
margin:0;
list-style-type: none;

}

.hotel-card-image:hover{
  opacity: 0.6;}

.hotel-card-image:focus{
  outline: 3px solid #83B3D3;}

.hotel-card-item {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px;

height:438px;
}

.hotel-card-title { 
  display:block;
font-size: 24px;
line-height:31px;
font-weight: 700;
color: #000000;
background-color:#ffffff;
}

.type-price {
  display: flex;
margin-bottom:16px;
}

.hotel-card-type{
  display:flex;
  font-size:18px;
  line-height: 23px;
  min-width: 133px;
  font-weight: 400;
  color: #333333;
}
 
.hotel-card-price {
  display:flex;
  min-width:143px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;
  padding-left:25px;
}

.more-chose{
  display: flex;
  width: 100%;
  
}
.hotel-card-button-more{
  font-size:16px;
  line-height: 21px;
  background-color:#756257;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  width:133px;
  text-align: center;
  padding:10px 0;
  border-radius: 4px;

  }

  .hotel-card-button-more:hover{
 background-color:#615048;
}


  .hotel-card-button-more:focus{
    background-color:#615048;
  outline:3px solid #83B3D3;
}


  .hotel-card-button-more:active{
    background-color:#615048;
    opacity:0.3;
  }

  .hotel-card-button-chose{
    font-size:16px;
    line-height: 21px;
    background-color: #83B3D3;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    width: 150px;
    padding-left:auto;
    text-align: center;
    padding:10px 0;
    margin-left:26px;
    border-radius: 4px;
   
    }
    .hotel-card-button-chose:hover{
      outline :1px solid #756257;
      background-color:#68a2ca;
    }
     
     
       .hotel-card-button-chose:focus{
         background-color:#68a2ca;
         outline:3px solid #756257;
        }
        

       .hotel-card-button-chose:active{
         background-color:#68a2ca;
        opacity:0.3;
      }


    .hotel-card-button-chose-green{ 
      font-size:16px;
      line-height: 21px;
      background-color: #6C9E42;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
      width: 150px;
      padding-left:26px;
      text-align: center;
      padding:10px 0;
      margin-left:26px;
      border-radius: 4px;
    
    }

    .hotel-card-button-chose-green:hover{
      background-color:#6C9E42;
    }
    .hotel-card-button-chose-green:focus{
      background-color:#6C9E42;
      outline:3px solid #756257;
    }

    .hotel-card-button-chose-green:active{
      background-color:#6C9E42;
    opacity:0.3;
  }

.star-ranking{
   display: flex;
  margin-top: 20px;
  width:100%;
  height: 37px;
  align-items: center;
  text-align: center;
 }
 
.hotel-card-ranking{
  font-size:16px;
  line-height: 21px;
  background-color: #f2f2f2;
  font-weight: 400;
  text-transform: uppercase;
  color:#333333;
  text-align: center;
  padding:10px 0;
  width:160px;
  margin-left: auto;
  border-radius: 4px;
}

.star{
 line-height: 17px; 
 color:#83B3D3;
 /* padding:10px 0; */
 margin: 0px auto;
}

.control
  {font-size: 18px;
line-height:23px;
color:#ffffff;
position: relative;
display: block;

}
/* Label */
.control-label {
  line-height: 22px;
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

/* Mark */
.control-mark {
  position: absolute;
  left:0;
  width: 20px;
  height: 20px;
  background-color:#FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  }

.control:hover .control-mark {
  background-color:#FFFFFF;
  opacity: 0.6;
}
.control:focus .control-mark {
  background-color:#FFFFFF;
  opacity: 0.6;
  border-color: 3px solid #83B3D3;

}

.control:active .control-mark {
  background-color:#FFFFFF;
  opacity: 0.3;
}


/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}


.catalog-filter
{display:flex;
flex-direction: row;
margin:0;
padding:0;
margin-top:45px;
list-style-type:none;
min-width:105px;
min-height: 102px;

}

  /* Group */
.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 86px;
}

.catalog-filter-group.infrastucture{
  margin-left: 71px;
  margin-right: 67px;
}
.catalog-filter-group.type{
  margin-right: 167px;
}

.catalog-filter-group.price{
  margin-right: 81px;
}

.catalog-filter-title{padding: 0;
  margin: 0;
  font-size: 20px;
  line-height:25px;
  font-weight: 700;
  color:#ffffff;

}

/* Range */
.range{
  width:287px;
}
.range-scale {
  position: relative;
  height: 4px;
  margin-TOP: 32px;
  background-color: #000000;


}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
  box-shadow: none;
 outline: none;
 right: 50px; 
 width: 227px;

}


.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  
}

.range-toggle:active{
  outline: 3px solid #83B3D3;
} 
.range-toggle:active{
  outline: 2px solid #83B3D3;}

  .toggle-min {
    top: -8px;
    left: -14px;
  }
  
  .toggle-max {
    top: -8px;
    right: -10px;
  }

  .range-wrapper-inputs {
    display: flex;
    justify-content: center;
    outline: 2px solid #ffffff;
    width:100%;
    border-radius: 4px;
  }
  
  .catalog-filter-label {
    display: flex;
    margin-right: 5px;
    font-size: 18px;
    padding-right: 10px;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 0.3;
    align-items: center;
  }

  .range-input {
    width:50%;
    font: inherit;
    padding-left: 15px;
    padding-top: 14px;
    padding-bottom: 11px;
    text-align: left;
    border: none;
    border-left: 2px solid #ffffff;
    background-color: transparent;
    appearance: textfield;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    
  }
 
  .range-input::-webkit-outer-spin-button,
  .range-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }


.services-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.commit-off{display: flex;
flex-direction: column;
margin-top:60px;

}

/*Pagination*/

.pagination a{
  font-size:20px;
  line-height: 26px;
  font-weight: 700;
  text-align:center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;

}
.pagination-container {
  display: flex;
  padding: 0px 72px; 
  background-color: #ffffff;
  height:55px;
 
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
 
}


.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  line-height: 25px;
  size:20px;
  border-radius: 4px; 
 
}


.pagination-link:hover{
  background-color: #68a2ca;
}

.pagination-link:focus{
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-link:active{
  background-color: #68a2ca;
  opacity: 0.3;
}



.button.pagination-get-more {
  position: relative;
  width: 620px;
  line-height:60px;
  text-decoration: none;
  margin:60px 290px;
  padding:0;
  border-radius: 4px;
}


.button.pagination-get-more::before {
  content:"";
 position: absolute;
 height:1px;
 background-color:#e6e6e6;
 width:1055px;
left: -200px;
right: 0;
 top:90px;
}

.button.pagination-get-more::after {
  content:"";
 position: absolute;
 height:1px;
 background-color:#e6e6e6;
 width:1055px;
 top:-40px;
 left: -200px;
 right: 0;
} 


.button.pagination-show-more{
  position: absolute;
  margin-left:968px;
  line-height:48px;
  width:160px;
  border-radius: 4px;
  color:#333333;
  background-color: #FFFFFF;
 
}
.email{
  color:#f2f2f2 ;
}

.pagination-link.pagination-current{
  background-color: #f2f2f2;
  color:#000000;
}

.hotels-on-page { 
  font-weight: 400;
  min-width: 175px;
  font-size:18px;
  line-height:23px;
  padding-left:300px;
}
a{
  text-decoration:none;
  margin:0;
}

.hotel-founds{
  margin:0;
  font-size:30px;
  line-height: 39px;
  font-weight: 700;
  min-width:337px;
  padding-right:192px;
}


.inner-head-title{
  font-size:60px;
  line-height: 68px;
  font-weight: 700;
  color: #ffffff;
  margin:0;
  padding:35px 0 5px 72px;
  min-width: 528px;
  }
  .breadcrumbs{  
    display: flex;
    margin: 0;
    padding: 0; 
    color: #242424;
    list-style-type: none;
  }
.breadcrumbs-link{ 
  margin-right: 26px;
  color: inherit;
  padding-right: 44px;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-size:5px 8px;
  background-position: center right 20px;
}
.breadcrumbs-item{order:-1;}

  .sorting-container {
    display: flex;
    margin-bottom: 56px;
    padding: 50px; 
    color: #000000;
    background-color: #ffffff;
  }
  
  .sorting-container .button {
    width: 48px;
    height: 48px;
  }

  .sorting-type {
    margin-right: auto;
  } 
  .select {
    position: relative;
    display: flex;
    align-items: center;
    width: 287px;
    margin-right: auto;
  }
  

.select-control{
  width: 100%;
  padding: 13px 19px;
  padding-right: 48px;
  font: inherit;
  background-color: #ffffff;
  height:48px;
  width: 287px;
outline:2px solid #e6e6e6;
border-radius:4px;
background-image: url("../images/vectorV.svg");
background-repeat: no-repeat;
background-position: right 20px center;
appearance: none;
border: none;
cursor: pointer;
}

.select-control:hover{ 
  outline:2px solid #83B3D3;
}
  .select-control:focus{ 
    outline:2px solid #83B3D3;
  }

.select-control:active{
  outline:2px solid #E6E6E6;
}
.hotel-search{
  margin-top: 91px;}

    .main-question{
      margin:0;
      padding:0;
    margin:0 240px 29px 240px;
  } 
.order-description{
  margin:0;
padding:0;
margin:0 240px 56px 240px;
}
.button-all{
  margin:0;
padding:0;
margin-bottom: 93px;
padding:15px 0;
width:575px;
}


    .sign-up { 
      text-align: center;
    }

      .sign-up-title{ 
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        margin:0;
        padding:0;
        padding: 94px 240px 29px 240px;
        width: 100%;
     
      }
       
    .sign-up-description{
      /* margin:0;
      padding:0; */
      font-family: PT Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 26px;
      margin:0 0px 46px 0px;
      width:100%;
      text-align: center;
      align-items: center;
    }


         /*Footer*/
.page-footer{height: 120px;
width:1200px;}
.page-footer-container {
display: flex;
height:120px;
margin: 0 auto;

}


.footer-social {
  margin:0;
  margin-right: auto;
  max-width: 190px;
}



.footer-social-list {
  flex-wrap: wrap; 
  display: flex;
margin: 0;
padding: 0;
list-style-type: none;
width: 180px;
 
 margin:0 72px;
 margin-top: 50px;
}
    
.footer-social-item {
  width: 20px;
  height: 16px;
  margin-right:30px;
  color: #83B3D3;


}
.footer-social-item:nth-child(3n) {
  margin-right: 0;
}


.footer-social-link {
  display: block;
  height: 18px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
 

 
}
.footer-social-link:hover{color:#68a2ca;}

.footer-social-link:focus{fill:#68a2ca;}

/*
.footer-social-tw {
  background-image: url("../images/social/social-twitter.svg");
}*/

.footer-social-fb {
  background-image: url("../images/social/social-facebook.svg");
  
}

.footer-social-yt {
  background-image: url("../images/social/social-youtube.svg");

}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}
.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  background-color: #ffffff;
}

.modal-container-close {
  display: none;
}


.modal-auth {
  width: 645px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0px;
  right: 0px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
} 
.modal-title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 67px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.auth-form .field-group {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

}


.auth-form-user-options .control-label {
  font-weight: 400;
}

.auth-form .field {
  width: 420px;

  
}

.auth-form-recovery {
  line-height: 22px;
  color: #000000;
  background-color: #f2f2f2;
}

.auth-form-button {
  width: 360px;
  margin-bottom: 16px;
}



.auth-form-register {
  width: 420px;
  color: #000000;
  background-color: #f2f2f2;
}

.tooltip {  position: absolute;
  width: 25px;
  height: 25px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #83B3D3;
  display: block;
}
.tooltip-toggle:hover .tooltip-icon {
  color: #68A2CA;
}

.tooltip-text {
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  display: block;
  width: 256px;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 25%;
  transform: translateX(-25%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:before {
  content:'';
  background-image: url("../images/toltip-arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

  /* Phone */

.contacts-phone{
  display: flex;
  font-size: 40px;
  line-height:40px;
  font-weight: 700;
  color: #000000;
  background-color:#ffffff;
  text-transform: uppercase;
  text-decoration: none;
  width: 720px;
  justify-content: center;
  text-align: center;

}

  
  .contacts-phone:hover{
    color:#756257;}
  .contacts-phone:focus{
    color:#756257;
  outline:#83B3D3;}
  .contacts-phone:active{
    color:#756257;
  opacity:0.3;}
  

.contacts{
  margin:40px 60px ;
  }




.logo-html-1{
  margin:0;
  margin-top: 42px;
  margin-bottom:44px;
  margin-right:72px;
}

.contacts.logo-html-1:hover{
  fill:#756257;
}

.contacts.logo-html-1:focus{
  fill:#756257;
}


.catalog-filter {
  display:flex;
  width:1200px;

}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 19px;
}

.catalog-filter-title{
 margin-bottom: 30px; 
}

.range-wrapper-inputs{
  margin-top: 4px;
}
.emailactive{
  display: flex;
  background: #F2F2F2;
  height: 60px;
  width: 600px;
  border-radius: 10px 0px 0px 10px;
  padding:0;
  padding-left:22px;
  padding-right: 19px;
  box-shadow: none;
  outline: none;
 
}

.emailactive:hover{ 
  background:#e6e6e6;

}
.emailactive:focus{ 
  background:#e6e6e6;
  border:3px solid #83B3D3;

}



.ubutton{
  display: flex;
  background-color: #83B3D3;
  height: 60px;
  width: 200px;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px ;
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
 



}

.newsletter{
  display: flex;
  justify-content: center;
  align-items: center;
 
 
 
}
.newsletter a{
  text-decoration: #ffffff;
  
 
}

